server:
  port: 6010

spring:
  application:
    name: users

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8080/realms/parking/protocol/openid-connect/certs
          issuer-uri: http://localhost:8080/realms/parking


  datasource:
    url: jdbc:postgresql://localhost:5432/parqueo
    username: usertest
    password: 123456

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8714/eureka/
token:
  principal-attribute: preferred_username
  resource-id: parking-backend

